/*flex cross browser mixin*/
/*mixin end here*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

@font-face {
  font-family: "Urbanist-VariableFont_wght";
  src: url("../fonts/urbanist/Urbanist-VariableFont_wght.woff") format("woff"), url("../fonts/urbanist/Urbanist-VariableFont_wght.woff2") format("woff2"), url("../fonts/urbanist/Urbanist-VariableFont_wght.svg#Urbanist-VariableFont_wght") format("svg"), url("../fonts/urbanist/Urbanist-VariableFont_wght.eot"), url("../fonts/urbanist/Urbanist-VariableFont_wght.eot?#iefix") format("embedded-opentype"), url("../fonts/urbanist/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeneralSans-Variable";
  src: url("../fonts/generalsans/GeneralSans-Variable.woff") format("woff"), url("../fonts/generalsans/GeneralSans-Variable.woff2") format("woff2"), url("../fonts/generalsans/GeneralSans-Variable.svg#GeneralSans-Variable") format("svg"), url("../fonts/generalsans/GeneralSans-Variable.eot"), url("../fonts/generalsans/GeneralSans-Variable.eot?#iefix") format("embedded-opentype"), url("../fonts/generalsans/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body {
  box-sizing: border-box;
  font-family: "Urbanist-VariableFont_wght";
}

h1, h2, h3, h4, h5 {
  font-family: "GeneralSans-Variable";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.image-wrapper {
  line-height: 0;
}
@media (max-width: 991px) {
  .image-wrapper {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .image-wrapper img {
    max-width: 450px;
    width: 100%;
  }
}

.my-button {
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  padding: 15px 30px;
  display: inline-block;
  min-width: 145px;
  font-weight: 500;
  box-shadow: 0px 12px 30px rgba(36, 32, 32, 0.26);
  border-radius: 8px;
  overflow: hidden;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}
.my-button.white {
  background: #fff;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.16);
  color: #217CD4;
}
@media (max-width: 767px) {
  .my-button {
    margin: 0 auto;
    min-width: 150px;
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
  }
}
.my-button:before, .my-button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #417aba;
  z-index: -1;
  transform: translate3D(0, -100%, 0);
  transition: all 0.5s;
}
.my-button:before {
  width: 150%;
  transform-origin: 0 bottom;
  transform: translateX(-100%) rotate(-30deg);
}
.my-button:after {
  left: auto;
  right: 0;
  width: 150%;
  transform-origin: right bottom;
  transform: translateX(100%) rotate(30deg);
}
.my-button:hover {
  color: #fff;
}
.my-button:hover:before {
  left: 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.my-button:hover:after {
  right: 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.main-wrapper {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  background-size: cover;
  font-weight: normal;
}

html {
  height: 100%;
}

@media (max-width: 767px) {
  p {
    font-size: 15px;
  }
}

form label {
  font-size: 15px;
  color: #282828;
}
form textarea {
  min-height: 100px;
  max-height: 150px;
}
form .user-input {
  height: 50px;
  padding: 10px 15px;
  color: #217CD4;
  background: #fff;
  border: 1px solid rgba(1, 59, 133, 0.15);
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-appearance: none;
  position: relative;
  line-height: 1;
  transition: 0.3s all;
}
form .user-input:focus {
  outline: none;
  border: 1.5px solid #217CD4;
}
form .user-input::-webkit-input-placeholder {
  font-family: "Urbanist-VariableFont_wght" !important;
  font-size: 15px;
  line-height: 20px;
  color: rgba(67, 52, 52, 0.35) !important;
}
form .form-group {
  position: relative;
  margin-bottom: 30px;
  line-height: 0;
}
@media (max-width: 767px) {
  form .form-group {
    margin-bottom: 20px;
  }
}
form .my-button {
  width: 100%;
}

.remember {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 30px 0;
  margin: 0;
}
@media (max-width: 767px) {
  .remember {
    padding: 0 0 20px 0;
  }
}
.remember .custom-check-box {
  font-size: 16px;
  line-height: 20px;
  color: #433434;
  display: block;
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: inherit;
}
@media (max-width: 480px) {
  .remember .custom-check-box {
    font-size: 14px;
    padding-left: 25px;
  }
}
.remember .custom-check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.remember .custom-check-box .checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(1, 59, 133, 0.15);
  border-radius: 5px;
}
.remember .custom-check-box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.remember .custom-check-box input:checked ~ .checkmark {
  background: #217CD4;
}
.remember .custom-check-box input:checked ~ .checkmark:after {
  display: block;
}
.remember .custom-check-box a {
  color: #217CD4;
}
.remember .forgot-pass {
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #217CD4;
  font-weight: 500;
  transition: 0.3s all;
}
.remember .forgot-pass:hover {
  color: #433434;
}
@media (max-width: 480px) {
  .remember .forgot-pass {
    font-size: 14px;
  }
}

.already {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .already {
    padding-top: 20px;
  }
}
@media (max-width: 575px) {
  .already {
    display: block;
  }
}
.already p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
  color: #433434 !important;
  font-weight: 500;
}
.already p a {
  color: #217CD4;
  transition: 0.3s all;
  font-weight: 600;
}
.already p a:hover {
  color: #AD0104;
}
@media (max-width: 375px) {
  .already p {
    font-size: 14px !important;
  }
}

table {
  border: 1px solid #013B85;
  box-shadow: 0px 16px 48px rgba(109, 141, 173, 0.15);
  width: 100%;
  font-size: 12px;
  background: transparent;
  box-shadow: none;
  outline: none;
  border-radius: 12px;
  border-collapse: separate;
  border-spacing: 0;
  z-index: -1;
  position: relative;
}
@media (max-width: 767px) {
  table {
    table-layout: fixed;
  }
}
table:focus {
  outline: none;
}
table thead tr {
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
}
table thead tr th {
  font-weight: bold;
  color: #fff;
  background: transparent;
  border-right: 1px solid #FFFFFF;
}
table thead tr th:first-child {
  border-radius: 10px 0 0 0;
}
@media (max-width: 375px) {
  table thead tr th:first-child {
    width: 110px;
  }
}
table thead tr th:last-child {
  border-radius: 0 10px 0 0;
  border-right: 0;
}
@media (max-width: 375px) {
  table thead tr th:nth-child(2) {
    width: 90px;
  }
}
table th {
  font-family: "GeneralSans-Variable";
  background: #217CD4;
  padding: 20px 18px;
  font-weight: bold;
  border: none;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  position: relative;
  border-right: 1px solid #FFFFFF;
}
@media (max-width: 767px) {
  table th {
    font-size: 15px;
    padding: 15px;
  }
}
@media (max-width: 480px) {
  table th {
    padding: 15px 5px;
    font-size: 12px;
  }
}
table th:first-child {
  border-radius: 12px 0 0 0;
}
@media (max-width: 375px) {
  table th:first-child {
    width: 90px;
  }
}
table th:last-child {
  border-radius: 0 12px 0 0;
  border-right: 0;
}
table td {
  padding: 20px;
  font-size: 15px;
  line-height: 20px;
  color: #013B85;
}
@media (max-width: 767px) {
  table td {
    font-size: 13px;
    padding: 15px;
  }
}
@media (max-width: 480px) {
  table td {
    padding: 15px 5px;
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  table td {
    font-size: 11px;
  }
}
table tr:focus {
  outline: none;
}
table tbody tr {
  background: #fff;
  transition: 0.3s all;
  position: relative;
}
table tbody tr td {
  border-right: 1px solid rgba(135, 191, 193, 0.25);
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 12px;
}
table tbody tr:last-child td:last-child {
  border-radius: 0 0 12px 0;
  border-right: 0;
}
table a:hover {
  color: #217CD4;
  outline: none;
  text-decoration: none;
}

.account-form {
  background: #F4F4F4;
  border-radius: 18px;
  position: relative;
  transition: 0.3s all;
  padding: 50px;
}
@media (max-width: 1399px) {
  .account-form {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .account-form {
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .account-form {
    padding: 30px 15px;
  }
}
.account-form .account-header {
  text-align: center;
}
.account-form .account-header .title h2 {
  font-size: 32px;
  line-height: 40px;
  color: #217CD4;
  margin-bottom: 25px;
  font-weight: 700;
}
@media (max-width: 1199px) {
  .account-form .account-header .title h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (max-width: 575px) {
  .account-form .account-header .title h2 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
  }
}
@media (max-width: 480px) {
  .account-form .account-header .title h2 {
    font-size: 22px;
    line-height: 32px;
  }
}
.account-form .my-button {
  line-height: 22px;
}

#button {
  display: inline-block;
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 36px rgba(0, 0, 0, 0.16));
  border-radius: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 55px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  transition: 0.3s all;
}
@media (max-width: 767px) {
  #button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    right: 15px;
  }
}
@media (max-width: 480px) {
  #button {
    bottom: 70px;
  }
}
#button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/top-arrow.svg);
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

section {
  position: relative;
}

.section-gap {
  padding: 80px 0;
}
@media (max-width: 1799px) {
  .section-gap {
    padding: 60px 0;
  }
}
@media (max-width: 1599px) {
  .section-gap {
    padding: 50px 0;
  }
}
@media (max-width: 1399px) {
  .section-gap {
    padding: 60px 0;
  }
}
@media (max-width: 1199px) {
  .section-gap {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .section-gap {
    padding: 25px 0;
  }
}

.heading {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .heading {
    margin-bottom: 20px;
    text-align: center;
  }
}
.heading.primary h2 {
  color: #013B85;
}
.heading h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #217CD4;
  margin-bottom: 20px;
}
@media (max-width: 1399px) {
  .heading h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 991px) {
  .heading h2 {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  .heading h2 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (max-width: 575px) {
  .heading h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .heading h2 {
    font-size: 26px;
    line-height: 36px;
  }
}
.heading p {
  font-size: 16px;
  line-height: 26px;
  color: #433434;
  margin-bottom: 30px;
}

#pricingplans,
#deliverypolicy,
#cancellation {
  padding-top: 90px;
  margin-top: -90px;
  display: block;
}
@media (max-width: 991px) {
  #pricingplans,
  #deliverypolicy,
  #cancellation {
    padding-top: 80px;
    margin-top: -80px;
  }
}
@media (max-width: 767px) {
  #pricingplans,
  #deliverypolicy,
  #cancellation {
    padding-top: 70px;
    margin-top: -70px;
  }
}

.modal-backdrop {
  z-index: 9999 !important;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s all;
}
.modal-backdrop.show {
  opacity: 1 !important;
}

.modal {
  z-index: 99999 !important;
}
.modal input:-webkit-autofill, .modal textarea:-webkit-autofill, .modal select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #3D3A68 !important;
}
.modal .modal-dialog {
  pointer-events: unset;
}
.modal .modal-dialog .modal-wrapper {
  background: #FFFFFF;
  border: none;
  border-radius: 18px;
}
.modal .modal-dialog .modal-wrapper .logo {
  line-height: 0;
}
@media (max-width: 575px) {
  .modal .modal-dialog .modal-wrapper .logo {
    max-width: 180px;
  }
}
.modal .modal-dialog .modal-wrapper .close {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .modal .modal-dialog .modal-wrapper .close {
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
  }
}
.modal .modal-dialog .modal-wrapper .modal-content {
  position: relative;
  border: 0;
  padding: 0;
  text-align: center;
  border-radius: 18px;
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-header {
  justify-content: center;
  border: none;
  border-radius: 11px;
  margin: 16px 16px 0 16px;
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body {
  padding: 40px;
}
@media (max-width: 575px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body {
    padding: 20px;
  }
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .content h2 {
  color: #013B85;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .content h2 {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .content h2 {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 480px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .content h2 {
    font-size: 22px;
    line-height: 32px;
  }
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .content p {
  font-size: 16px;
  line-height: 26px;
  color: #433434;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .content p {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .content p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .content p a {
  color: #013B85;
  transition: 0.3s all;
  font-weight: 600;
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .content p a:hover {
  color: #AD0104;
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .content p.agree {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .content p.agree {
    text-align: center;
    margin-bottom: 20px;
  }
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .my-button {
  justify-content: center;
  width: 145px;
  line-height: 22px;
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form {
  background: transparent;
  border: 0;
  padding: 0;
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form .account-header {
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 767px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form .account-header {
    margin-bottom: 20px;
  }
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form .account-header h2 {
  color: #013B85;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form .account-header h2 {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form .account-header h2 {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 480px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form .account-header h2 {
    font-size: 22px;
    line-height: 32px;
  }
}
.modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form .account-header p {
  font-size: 16px;
  line-height: 24px;
  color: #433434;
}
@media (max-width: 480px) {
  .modal .modal-dialog .modal-wrapper .modal-content .modal-body .account-form .account-header p {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 767px) {
  #cancelYourSubscriptionModal .modal-dialog,
  #ContactUsModal .modal-dialog {
    max-width: 600px;
  }
}
#cancelYourSubscriptionModal .modal-content,
#ContactUsModal .modal-content {
  border: none;
}
#cancelYourSubscriptionModal .modal-content .modal-header,
#ContactUsModal .modal-content .modal-header {
  justify-content: center;
}
#cancelYourSubscriptionModal .modal-content .modal-header h5,
#ContactUsModal .modal-content .modal-header h5 {
  color: #217CD4;
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 575px) {
  #cancelYourSubscriptionModal .modal-content .modal-header h5,
  #ContactUsModal .modal-content .modal-header h5 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  #cancelYourSubscriptionModal .modal-content .modal-header h5,
  #ContactUsModal .modal-content .modal-header h5 {
    font-size: 20px;
  }
}
#cancelYourSubscriptionModal .modal-content .modal-header .close,
#ContactUsModal .modal-content .modal-header .close {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  #cancelYourSubscriptionModal .modal-content .modal-header .close,
  #ContactUsModal .modal-content .modal-header .close {
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
  }
}
@media (max-width: 575px) {
  #cancelYourSubscriptionModal .modal-content .modal-header .close,
  #ContactUsModal .modal-content .modal-header .close {
    right: 5px;
    top: 5px;
  }
}
#cancelYourSubscriptionModal .modal-content .modal-header .close img,
#ContactUsModal .modal-content .modal-header .close img {
  filter: grayscale(100%) brightness(0.1);
}
@media (max-width: 480px) {
  #cancelYourSubscriptionModal .modal-content .modal-header p,
  #ContactUsModal .modal-content .modal-header p {
    font-size: 14px;
  }
}
#cancelYourSubscriptionModal .modal-body,
#ContactUsModal .modal-body {
  padding: 30px;
}
@media (max-width: 767px) {
  #cancelYourSubscriptionModal .modal-body,
  #ContactUsModal .modal-body {
    padding: 20px 15px;
  }
}
#cancelYourSubscriptionModal .modal-body ol,
#ContactUsModal .modal-body ol {
  margin: 10px 0;
  padding-left: 15px;
}
#cancelYourSubscriptionModal .modal-body ol li,
#ContactUsModal .modal-body ol li {
  list-style-type: decimal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: rgba(22, 22, 22, 0.75);
  padding: 0;
  margin: 0 0 10px 0;
}

#chat-widget-container {
  bottom: 0 !important;
}

.po-rl {
  position: relative;
}

.lh-0 {
  line-height: 0;
}

.of-h {
  overflow: hidden;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #217CD4 !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 767px) {
  p {
    font-size: 15px !important;
  }
}
body {
  position: relative;
}

@media (max-width: 1199px) {
  .blur-body {
    overflow: hidden;
  }
  .blur-body::before {
    background: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99;
  }
}

.inner-page .section-gap {
  padding: 100px 0;
}
@media (max-width: 1399px) {
  .inner-page .section-gap {
    padding: 80px 0;
  }
}
@media (max-width: 1199px) {
  .inner-page .section-gap {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .inner-page .section-gap {
    padding: 50px 0;
  }
}

#deliverypolicy, #cancellation, #pricingplans {
  padding-top: 100px;
  margin-top: -100px;
  display: block;
}
@media (max-width: 1199px) {
  #deliverypolicy, #cancellation, #pricingplans {
    padding-top: 90px;
    margin-top: -90px;
  }
}
@media (max-width: 767px) {
  #deliverypolicy, #cancellation, #pricingplans {
    padding-top: 75px;
    margin-top: -75px;
  }
}
@media (max-width: 480px) {
  #deliverypolicy, #cancellation, #pricingplans {
    padding-top: 65px;
    margin-top: -65px;
  }
}

#features, #services, #pricing {
  scroll-margin-top: 89px;
}
@media (max-width: 1199px) {
  #features, #services, #pricing {
    scroll-margin-top: 79px;
  }
}
@media (max-width: 767px) {
  #features, #services, #pricing {
    scroll-margin-top: 65px;
  }
}
@media (max-width: 480px) {
  #features, #services, #pricing {
    scroll-margin-top: 55px;
  }
}

.g-recaptcha {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .g-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .g-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
    margin-bottom: 0;
  }
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 1100;
  opacity: 1;
}

.preloader .preloader__wrap {
  text-align: left;
  max-width: 140px;
}

.preloader .preloader__logo {
  width: 100%;
  max-width: 140px;
  animation: blur-logo 1s ease-in-out;
}
@keyframes blur-logo {
  0% {
    filter: blur(30px);
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}
.preloader .loader-73 {
  width: 0;
  height: 1.8px;
  display: inline-block;
  position: relative;
  background: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5019607843);
  animation: animFw 3s linear infinite;
}
@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.loaded .preloader {
  transform: translateY(-100%);
  transition: all 0.5s ease-out;
}

.page-breadcrumb {
  background-image: url(../images/breadcrumb.svg), radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 180px 0 80px 0;
}
@media (max-width: 1199px) {
  .page-breadcrumb {
    padding: 130px 0 50px 0;
  }
}
@media (max-width: 991px) {
  .page-breadcrumb {
    background-position: bottom;
  }
}
@media (max-width: 767px) {
  .page-breadcrumb {
    padding: 90px 0 30px 0;
  }
}
.page-breadcrumb .heading {
  margin-bottom: 0;
  text-align: center;
}
.page-breadcrumb .heading h2 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 72px;
  color: #fff;
  z-index: 1;
}
@media (max-width: 991px) {
  .page-breadcrumb .heading h2 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 767px) {
  .page-breadcrumb .heading h2 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media (max-width: 575px) {
  .page-breadcrumb .heading h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (max-width: 480px) {
  .page-breadcrumb .heading h2 {
    font-size: 24px;
    line-height: 34px;
  }
}

body.blur-body header {
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
}

header {
  transition: 0.3s all;
  background: rgba(0, 0, 0, 0.05);
}
@media (max-width: 1199px) {
  header {
    padding: 10px 0;
  }
}
header.fixed-menu {
  box-shadow: 0px 12px 30px rgba(36, 32, 32, 0.26);
  width: 100%;
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
}
header .navbar {
  position: relative;
  padding: 0;
}
header .navbar .logo {
  display: flex;
}
header .navbar .logo .navbar-brand {
  display: flex;
  padding: 0;
  position: relative;
}
@media (max-width: 767px) {
  header .navbar .logo .navbar-brand img {
    max-width: 180px;
  }
}
@media (max-width: 480px) {
  header .navbar .logo .navbar-brand img {
    max-width: 150px;
  }
}
header .navbar .navbar-toggler {
  align-self: center;
  width: 70px;
  height: 40px;
  padding: 0 0 0 15px;
  margin: 0;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
}
header .navbar .navbar-toggler:focus {
  box-shadow: none;
}
header .navbar .navbar-toggler svg {
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
}
header .navbar .navbar-toggler svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  transform: translateZ(0);
  stroke: #fff;
}
header .navbar .navbar-toggler svg path:nth-child(1) {
  --array-2: 90px;
}
header .navbar .navbar-toggler svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  stroke: #fff;
}
header .navbar .navbar-toggler svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 95px;
  stroke: #fff;
}
header .navbar .navbar-toggler[aria-expanded=true] svg path {
  --offset: 57px;
}
header .navbar .navbar-toggler[aria-expanded=true] svg path:nth-child(1) {
  --array-2: 99px;
}
header .navbar .navbar-toggler[aria-expanded=true] svg path:nth-child(1), header .navbar .navbar-toggler[aria-expanded=true] svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(.2, .4, .2, 1.1);
}
header .navbar .navbar-toggler[aria-expanded=true] svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px;
}
header .navbar .navbar-toggler[aria-expanded=true] svg path:nth-child(3) {
  --offset: 47px;
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
}
@media (max-width: 1199px) {
  header .navbar .navbar-collapse {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 99;
    background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
    left: 0;
  }
}
@media (max-width: 767px) {
  header .navbar .navbar-collapse {
    top: 54px;
  }
}
@media (max-width: 480px) {
  header .navbar .navbar-collapse {
    top: 50px;
  }
}
header .navbar .navbar-collapse .navbar-nav {
  position: relative;
  align-items: center;
}
@media (max-width: 1199px) {
  header .navbar .navbar-collapse .navbar-nav {
    padding: 10px 0;
  }
}
header .navbar .navbar-collapse .navbar-nav .nav-item {
  transition: 0.3s all;
  margin: 0 5px;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 30px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  transition: 0.3s all;
  position: relative;
  font-weight: 400;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover:before, header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active:before {
  width: 100%;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-bottom: 1px solid #FFFFFF;
  transition: 0.3s all;
}
@media (max-width: 1199px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
  }
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button {
  padding: 13px 15px;
  color: #217CD4;
  font-size: 14px;
  line-height: 17px;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button:hover {
  color: #fff;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button.active {
  color: #fff;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button.active:after {
  right: 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}
@media (min-width: 1200px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button:before {
    display: none;
  }
}
@media (max-width: 1399px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button {
    padding: 14px 15px;
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button {
    background: transparent;
    box-shadow: none;
    padding: 10px 25px;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 0;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button:hover, header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button.active {
    color: #fff;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button:before {
    background-color: transparent;
    bottom: 0;
    top: auto;
    transform: rotate(0deg);
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.my-button:after {
    display: none;
  }
}

footer {
  position: relative;
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
}
footer .main-footer {
  position: relative;
  z-index: 10;
  padding: 60px 0;
}
@media (max-width: 1199px) {
  footer .main-footer {
    padding: 30px 0;
  }
}
footer .main-footer .visa {
  height: 30px;
}
footer .main-footer .footer-about {
  position: relative;
}
@media (max-width: 1199px) {
  footer .main-footer .footer-about {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  footer .main-footer .footer-about {
    height: 100%;
  }
}
@media (max-width: 767px) {
  footer .main-footer .footer-about {
    margin-bottom: 30px;
  }
}
footer .main-footer .footer-about a {
  display: block;
  line-height: 0;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  footer .main-footer .footer-about a {
    margin-bottom: 20px;
  }
}
footer .main-footer .footer-about p {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  footer .main-footer .footer-about p {
    max-width: 550px;
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 480px) {
  footer .main-footer .footer-about p {
    font-size: 14px !important;
  }
}
footer .main-footer .footer-about img.visa {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  footer .main-footer .footer-about img.visa {
    margin-bottom: 0px;
  }
}
footer .main-footer .encryption {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
@media (max-width: 1199px) {
  footer .main-footer .encryption {
    justify-content: center;
    color: #fff;
  }
}
@media (max-width: 767px) {
  footer .main-footer .encryption {
    font-size: 15px;
  }
}
footer .main-footer .encryption img {
  margin-right: 10px;
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  footer .main-footer .encryption img {
    filter: contrast(0) brightness(2);
  }
}
footer .main-footer .footer-links {
  padding-top: 60px;
}
@media (max-width: 1399px) {
  footer .main-footer .footer-links {
    padding-top: 40px;
  }
}
@media (max-width: 991px) {
  footer .main-footer .footer-links {
    padding: 0;
  }
}
footer .main-footer .footer-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  footer .main-footer .footer-title {
    margin-bottom: 15px;
  }
}
footer .main-footer .footer-title span {
  color: #217CD4;
}
footer .main-footer .footer-title.mob[aria-expanded=true] .footer-toggler {
  transform: translateY(-50%) rotate(-90deg);
}
@media (max-width: 767px) {
  footer .main-footer .footer-title.mob {
    display: block;
    position: relative;
  }
  footer .main-footer .footer-title.mob .footer-toggler {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: 0;
    line-height: 0;
    display: block;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all 0.3s;
  }
}
@media (min-width: 768px) {
  footer .main-footer .footer-title.mob .footer-toggler {
    display: none;
  }
}
footer .main-footer .footer-links:not(.footer-contact) ul li {
  position: relative;
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  footer .main-footer .footer-links:not(.footer-contact) ul li {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  footer .main-footer .footer-links .footer-title {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  footer .main-footer .footer-links .footer-title:before {
    display: none;
  }
}
@media (max-width: 767px) {
  footer .main-footer .footer-links ul {
    padding-left: 40px;
  }
}
@media (max-width: 480px) {
  footer .main-footer .footer-links ul {
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  footer .main-footer .footer-links ul.foot-mob {
    display: block;
  }
}
footer .main-footer .footer-links ul li {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  footer .main-footer .footer-links ul li:last-child {
    margin-bottom: 0;
  }
}
footer .main-footer .footer-links ul li a {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  transition: 0.3s all;
  position: relative;
  transition: all 0.3s;
}
footer .main-footer .footer-links ul li a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: all 0.3s;
}
@media (max-width: 991px) {
  footer .main-footer .footer-links ul li a {
    font-size: 15px;
  }
}
footer .main-footer .footer-links ul li a:hover::after {
  width: 50%;
}
footer .sub-footer {
  padding: 15px 0;
  text-align: center;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  footer .sub-footer {
    padding: 15px 0;
  }
}
footer .sub-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  opacity: 0.5;
}
@media (max-width: 767px) {
  footer .sub-footer p {
    font-size: 11px !important;
    line-height: 18px;
  }
}

.footer-contact ul li {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.footer-contact ul li .my-icon {
  margin-right: 10px;
  line-height: 0;
}
.footer-contact ul li .my-icon img {
  min-width: 24px;
}
.footer-contact ul li:last-child {
  margin-bottom: 0;
  align-items: flex-start;
}
.footer-contact ul li a {
  color: #fff;
  transition: 0.3s all;
}
@media (max-width: 767px) {
  .footer-contact ul li a {
    display: block;
  }
}
.footer-contact ul li p {
  color: #fff;
}

.hero-banner {
  background-image: url(../images/hero-bg.svg), radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
  background-position: 50% 70%;
  background-repeat: no-repeat;
  padding: 180px 0 0 0;
}
@media (max-width: 991px) {
  .hero-banner {
    background-image: unset;
    background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
  }
}
@media (max-width: 767px) {
  .hero-banner {
    padding: 120px 0 0 0;
  }
}
.hero-banner .image-wrapper {
  line-height: 0;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .hero-banner .image-wrapper img {
    max-width: 650px;
  }
}
@media (max-width: 575px) {
  .hero-banner .image-wrapper img {
    max-width: 450px;
  }
}
.hero-banner .content-wrapper {
  margin-bottom: 45px;
  text-align: center;
}
@media (max-width: 991px) {
  .hero-banner .content-wrapper {
    margin-bottom: 30px;
  }
}
.hero-banner .content-wrapper h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 72px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (max-width: 1399px) {
  .hero-banner .content-wrapper h1 {
    font-size: 41px;
    line-height: 52px;
  }
}
@media (max-width: 767px) {
  .hero-banner .content-wrapper h1 {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 575px) {
  .hero-banner .content-wrapper h1 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .hero-banner .content-wrapper h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
.hero-banner .content-wrapper p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  max-width: 540px;
  margin: 0 auto 30px auto;
}
@media (max-width: 575px) {
  .hero-banner .content-wrapper p {
    margin-bottom: 30px;
  }
}
.hero-banner .content-wrapper .btn-wrapper {
  display: flex;
  justify-content: center;
}
.hero-banner .content-wrapper .btn-wrapper img {
  margin-right: 10px;
  margin: -30px 10px 0 10px;
}
@media (max-width: 991px) {
  .hero-banner .content-wrapper .btn-wrapper img {
    display: none;
  }
}

.main-wrapper .features {
  margin-top: 80px;
}
@media (max-width: 1799px) {
  .main-wrapper .features {
    margin-top: 60px;
  }
}
@media (max-width: 1599px) {
  .main-wrapper .features {
    margin-top: 50px;
  }
}
@media (max-width: 1399px) {
  .main-wrapper .features {
    margin-top: 40px;
  }
}
@media (max-width: 1199px) {
  .main-wrapper .features {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .main-wrapper .features {
    margin-top: 25px;
  }
}
.main-wrapper .features .media {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
@media (max-width: 991px) {
  .main-wrapper .features .media {
    padding-left: 0;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-wrapper .features .media {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main-wrapper .features .media {
    margin-bottom: 30px;
  }
}
.main-wrapper .features .media .squircle-outer {
  position: relative;
  display: block;
  min-width: 72px;
  height: 72px;
  background: #BACDE2;
  border-radius: 16px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  transform: scale(1.5);
  box-shadow: 0px 16px 64px rgba(109, 141, 173, 0.13);
}
@media (max-width: 1399px) {
  .main-wrapper .features .media .squircle-outer {
    transform: scale(1.3);
  }
}
@media (max-width: 1199px) {
  .main-wrapper .features .media .squircle-outer {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-wrapper .features .media .squircle-outer {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  .main-wrapper .features .media .squircle-outer {
    margin-bottom: 20px;
    transform: scale(1);
  }
}
.main-wrapper .features .media .squircle-outer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: scaleX(2) scaleY(1.05);
  clip: rect(0, 48px, 72px, 24px);
  z-index: -1;
  transition: all 0.2s ease-in;
}
.main-wrapper .features .media .squircle-outer:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: scaleY(2) scaleX(1.05) rotate(90deg);
  clip: rect(0, 48px, 72px, 24px);
  z-index: -1;
  transition: all 0.2s ease-in;
}
.main-wrapper .features .media .squircle-outer .squircle {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.main-wrapper .features .media .squircle-outer .squircle:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 100%;
  transform: scaleX(2) scaleY(1.05);
  clip: rect(0, 44px, 68px, 22px);
  z-index: 0;
  transition: all 0.2s ease-in;
}
.main-wrapper .features .media .squircle-outer .squircle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: scaleY(2) scaleX(1.05) rotate(90deg);
  clip: rect(0, 44px, 68px, 22px);
  z-index: 0;
  transition: all 0.2s ease-in;
}
.main-wrapper .features .media .squircle-outer .squircle .icon {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  font-size: 42px;
  height: 72px;
  text-align: center;
  line-height: 72px;
  z-index: 1;
}
.main-wrapper .features .media .squircle-outer .squircle .icon img {
  transform: scale(0.8);
}
.main-wrapper .features .media .content-wrapper {
  padding-left: 40px;
}
@media (max-width: 1399px) {
  .main-wrapper .features .media .content-wrapper {
    padding-left: 30px;
  }
}
@media (max-width: 1199px) {
  .main-wrapper .features .media .content-wrapper {
    padding-left: 20px;
  }
}
@media (max-width: 991px) {
  .main-wrapper .features .media .content-wrapper {
    padding-left: 0;
  }
}
.main-wrapper .features .media .content-wrapper h6 {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #433434;
}
@media (max-width: 1399px) {
  .main-wrapper .features .media .content-wrapper h6 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .main-wrapper .features .media .content-wrapper h6 {
    font-size: 18px;
  }
}
.main-wrapper .cta .cta-wrapper {
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
  border-radius: 22px;
  padding: 125px 20px;
  position: relative;
}
@media (max-width: 1399px) {
  .main-wrapper .cta .cta-wrapper {
    padding: 95px 20px;
  }
}
@media (max-width: 767px) {
  .main-wrapper .cta .cta-wrapper {
    padding: 75px 20px;
  }
}
.main-wrapper .cta .cta-wrapper::after, .main-wrapper .cta .cta-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 22px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
.main-wrapper .cta .cta-wrapper::before {
  background: #D9E2EE;
  height: 100%;
  width: calc(100% - 100px);
  top: 20px;
}
.main-wrapper .cta .cta-wrapper::after {
  background: #9AB2CF;
  height: 100%;
  width: calc(100% - 50px);
  top: 10px;
}
.main-wrapper .cta .cta-wrapper .heading {
  max-width: 844px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 1399px) {
  .main-wrapper .cta .cta-wrapper .heading {
    max-width: 680px;
  }
}
@media (max-width: 991px) {
  .main-wrapper .cta .cta-wrapper .heading {
    max-width: 550px;
  }
}
.main-wrapper .cta .cta-wrapper .heading h2 {
  color: #fff;
  margin-bottom: 30px;
}
.main-wrapper .cta .cta-wrapper .cta-box {
  position: absolute;
  right: 0;
  top: -50px;
}
@media (max-width: 1199px) {
  .main-wrapper .cta .cta-wrapper .cta-box {
    max-width: 250px;
    top: -30px;
  }
}
@media (max-width: 991px) {
  .main-wrapper .cta .cta-wrapper .cta-box {
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .main-wrapper .cta .cta-wrapper .cta-box {
    max-width: 150px;
  }
}
@media (max-width: 480px) {
  .main-wrapper .cta .cta-wrapper .cta-box {
    max-width: 120px;
  }
}
.main-wrapper .cta .cta-wrapper .cta-map {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 1199px) {
  .main-wrapper .cta .cta-wrapper .cta-map {
    max-width: 130px;
  }
}
@media (max-width: 991px) {
  .main-wrapper .cta .cta-wrapper .cta-map {
    max-width: 100px;
  }
}
@media (max-width: 480px) {
  .main-wrapper .cta .cta-wrapper .cta-map {
    max-width: 60px;
  }
}
.main-wrapper .cta .cta-wrapper .cta-cloud {
  position: absolute;
  top: 30px;
  left: 50px;
}
@media (max-width: 991px) {
  .main-wrapper .cta .cta-wrapper .cta-cloud {
    display: none;
  }
}
.main-wrapper .cta .cta-wrapper .cta-pattern {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
@media (max-width: 991px) {
  .main-wrapper .cta .cta-wrapper .cta-pattern {
    display: none;
  }
}
.main-wrapper .cta .cta-wrapper .cta-circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 0;
}
.main-wrapper .how-it-works .how-it-works-wrapper {
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, rgba(39, 137, 228, 0.15) 0%, rgba(33, 124, 212, 0.15) 22.45%, rgba(16, 89, 170, 0.15) 66.24%, rgba(1, 59, 133, 0.15) 100%);
  padding: 4px;
  border-radius: 18px;
  height: 100%;
}
.main-wrapper .how-it-works .how-it-works-wrapper .how-it-works-box {
  padding: 28px;
  background: #FFFFFF;
  box-shadow: 0px 16px 48px rgba(109, 141, 173, 0.25);
  border-radius: 15px;
  height: 100%;
}
.main-wrapper .how-it-works .how-it-works-wrapper .how-it-works-box .image {
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
  margin-bottom: 20px;
  border-radius: 9px;
}
.main-wrapper .how-it-works .how-it-works-wrapper .how-it-works-box h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #433434;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main-wrapper .how-it-works .how-it-works-wrapper .how-it-works-box h6 {
    font-size: 18px;
    line-height: 26px;
  }
}
.main-wrapper .how-it-works .how-it-works-wrapper .how-it-works-box h6 span {
  font-weight: 700;
}
@media (max-width: 991px) {
  .main-wrapper .how-it-works .how-it-works-wrapper.step-2 .how-it-works-box {
    display: flex;
    flex-direction: column-reverse;
  }
}
.main-wrapper .how-it-works .center-image {
  position: relative;
}
@media (max-width: 991px) {
  .main-wrapper .how-it-works .center-image {
    z-index: -1;
  }
}
.main-wrapper .how-it-works .center-image .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .main-wrapper .how-it-works .center-image .logo {
    max-width: 200px;
  }
}
@media (max-width: 575px) {
  .main-wrapper .how-it-works .center-image .logo {
    max-width: 170px;
  }
}
@media (max-width: 480px) {
  .main-wrapper .how-it-works .center-image .logo {
    max-width: 140px;
  }
}
@media (max-width: 991px) {
  .main-wrapper .how-it-works .center-image .border-shape {
    transform: rotateZ(90deg);
  }
}
.main-wrapper .pricing {
  margin-bottom: 80px;
}
@media (max-width: 1799px) {
  .main-wrapper .pricing {
    margin-bottom: 60px;
  }
}
@media (max-width: 1599px) {
  .main-wrapper .pricing {
    margin-bottom: 50px;
  }
}
@media (max-width: 1399px) {
  .main-wrapper .pricing {
    margin-bottom: 40px;
  }
}
@media (max-width: 1199px) {
  .main-wrapper .pricing {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .main-wrapper .pricing {
    margin-bottom: 25px;
  }
}
.main-wrapper .pricing .pricing-box {
  padding: 16px 45px;
  background: #F4F4F4;
  border-radius: 16px;
  margin-bottom: 25px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}
.main-wrapper .pricing .pricing-box::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  background: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
  top: 50%;
  left: 50%;
  border-radius: 16px;
  transform: scale(0) translate(-50%, -50%);
  z-index: 0;
  transition: all 0.5s;
}
@media (max-width: 1399px) {
  .main-wrapper .pricing .pricing-box {
    padding: 16px 25px;
  }
}
@media (max-width: 480px) {
  .main-wrapper .pricing .pricing-box {
    padding: 16px 10px;
  }
}
.main-wrapper .pricing .pricing-box:last-child {
  margin-bottom: 0;
}
@media (max-width: 1399px) {
  .main-wrapper .pricing .pricing-box .price-title {
    min-width: 90px;
  }
}
.main-wrapper .pricing .pricing-box h5 {
  font-size: 24px;
  font-weight: bold;
  color: #013B85;
  z-index: 1;
  position: relative;
}
@media (max-width: 1399px) {
  .main-wrapper .pricing .pricing-box h5 {
    font-size: 20px;
  }
}
@media (max-width: 1199px) {
  .main-wrapper .pricing .pricing-box h5 {
    margin-bottom: 10px;
  }
}
.main-wrapper .pricing .pricing-box .price-details {
  z-index: 1;
  position: relative;
}
@media (max-width: 1199px) {
  .main-wrapper .pricing .pricing-box .price-details {
    padding: 15px 0 0;
  }
}
@media (max-width: 991px) {
  .main-wrapper .pricing .pricing-box .price-details {
    padding: 15px 0;
  }
}
.main-wrapper .pricing .pricing-box .price-details p {
  color: rgba(67, 52, 52, 0.6);
}
.main-wrapper .pricing .pricing-box .my-button {
  min-width: auto;
  padding: 15px 20px;
}
.main-wrapper .pricing .pricing-box .bottom-border {
  position: relative;
  z-index: 1;
}
@media (max-width: 1199px) {
  .main-wrapper .pricing .pricing-box .bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}
.main-wrapper .pricing .pricing-box.active::before {
  transform: scale(1);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.main-wrapper .pricing .pricing-box.active h5 {
  color: #fff;
}
.main-wrapper .pricing .pricing-box.active .price-details p {
  color: #fff;
}
.main-wrapper .pricing .pricing-box.active .my-button {
  background: #fff;
  color: #0C52A1;
}
.main-wrapper .pricing .pricing-box.active .my-button:hover {
  color: #fff;
}
@media (max-width: 1199px) {
  .main-wrapper .pricing .pricing-box.active .bottom-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
}

@media (max-width: 991px) {
  .about-us .content {
    margin-bottom: 40px;
    text-align: center;
  }
}
.about-us .content .heading {
  text-align: left;
}
@media (max-width: 991px) {
  .about-us .content .heading {
    text-align: center;
  }
}
.about-us .content .heading p {
  max-width: 430px;
}
@media (max-width: 991px) {
  .about-us .content .heading p {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .about-us .image img {
    max-width: 450px;
    width: 100%;
  }
}

.form-pages.contact-us .contact-details {
  padding-top: 50px;
}
@media (max-width: 1399px) {
  .form-pages.contact-us .contact-details {
    padding-top: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-pages.contact-us .contact-details {
    padding-left: 40px;
  }
}
@media (max-width: 991px) {
  .form-pages.contact-us .contact-details {
    text-align: center;
  }
}
.form-pages.contact-us .contact-details .title {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .form-pages.contact-us .contact-details .title {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .form-pages.contact-us .contact-details .title {
    margin-bottom: 20px;
  }
}
.form-pages.contact-us .contact-details .title h2 {
  font-size: 32px;
  line-height: 40px;
  color: #217CD4;
  margin-bottom: 5px;
  font-weight: 700;
}
@media (max-width: 1199px) {
  .form-pages.contact-us .contact-details .title h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (max-width: 575px) {
  .form-pages.contact-us .contact-details .title h2 {
    font-size: 24px;
    line-height: 34px;
  }
}
@media (max-width: 480px) {
  .form-pages.contact-us .contact-details .title h2 {
    font-size: 22px;
    line-height: 32px;
  }
}
.form-pages.contact-us .contact-details .title p {
  font-size: 16px;
  line-height: 20px;
  color: #433434;
}
@media (max-width: 767px) {
  .form-pages.contact-us .contact-details .title p {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .form-pages.contact-us .contact-details .contact-details-inner {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
.form-pages.contact-us .contact-details .contact-details-inner .media {
  margin-bottom: 30px;
  align-items: center;
  display: flex;
}
@media (max-width: 991px) {
  .form-pages.contact-us .contact-details .contact-details-inner .media {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .form-pages.contact-us .contact-details .contact-details-inner .media {
    margin-bottom: 10px;
  }
}
.form-pages.contact-us .contact-details .contact-details-inner .media:last-child {
  align-items: flex-start;
  margin-bottom: 0;
}
.form-pages.contact-us .contact-details .contact-details-inner .media:last-child .media-body {
  padding-top: 25px;
}
@media (max-width: 991px) {
  .form-pages.contact-us .contact-details .contact-details-inner .media:last-child .media-body {
    padding-top: 15px;
  }
}
.form-pages.contact-us .contact-details .contact-details-inner .media .squircle-outer {
  position: relative;
  display: block;
  min-width: 72px;
  height: 72px;
  background: #BACDE2;
  border-radius: 16px;
  transition: all 0.2s ease-in;
  margin-right: 25px;
  box-shadow: 0px 16px 64px rgba(109, 141, 173, 0.13);
}
@media (max-width: 575px) {
  .form-pages.contact-us .contact-details .contact-details-inner .media .squircle-outer {
    transform: scale(0.8);
    margin-right: 10px;
  }
}
.form-pages.contact-us .contact-details .contact-details-inner .media .squircle-outer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: scaleX(2) scaleY(1.05);
  clip: rect(0, 48px, 72px, 24px);
  z-index: -1;
  transition: all 0.2s ease-in;
}
.form-pages.contact-us .contact-details .contact-details-inner .media .squircle-outer:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: scaleY(2) scaleX(1.05) rotate(90deg);
  clip: rect(0, 48px, 72px, 24px);
  z-index: -1;
  transition: all 0.2s ease-in;
}
.form-pages.contact-us .contact-details .contact-details-inner .media .squircle-outer .squircle {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 15px;
  transition: all 0.2s ease-in;
}
.form-pages.contact-us .contact-details .contact-details-inner .media .squircle-outer .squircle:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 100%;
  transform: scaleX(2) scaleY(1.05);
  clip: rect(0, 44px, 68px, 22px);
  z-index: 0;
  transition: all 0.2s ease-in;
}
.form-pages.contact-us .contact-details .contact-details-inner .media .squircle-outer .squircle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: scaleY(2) scaleX(1.05) rotate(90deg);
  clip: rect(0, 44px, 68px, 22px);
  z-index: 0;
  transition: all 0.2s ease-in;
}
.form-pages.contact-us .contact-details .contact-details-inner .media .squircle-outer .squircle .icon {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  font-size: 42px;
  height: 72px;
  text-align: center;
  line-height: 72px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-pages.contact-us .contact-details .contact-details-inner .media .media-body {
  text-align: left;
}
.form-pages.contact-us .contact-details .contact-details-inner .media .media-body p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #433434;
}
@media (max-width: 1399px) {
  .form-pages.contact-us .contact-details .contact-details-inner .media .media-body p {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 1199px) {
  .form-pages.contact-us .contact-details .contact-details-inner .media .media-body p {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 991px) {
  .form-pages.contact-us .contact-details .contact-details-inner .media .media-body p {
    font-size: 16px;
    line-height: 20px;
  }
}
.form-pages.contact-us .contact-details .contact-details-inner .media .media-body p a {
  color: #433434;
  transition: 0.3s all;
  display: block;
}
.form-pages.contact-us .contact-details .contact-details-inner .media .media-body p a:hover {
  color: #217CD4;
}
.form-pages.sign-up .join-now {
  position: relative;
}
.form-pages.sign-up .join-now .contact-details .contact-details-inner .media .media-body p b {
  color: #217CD4;
}
@media (max-width: 991px) {
  .form-pages.sign-up .join-now .contact-details {
    padding-top: 0px;
  }
}
.form-pages.sign-up .signup-info {
  background: #F4F4F4;
  border-radius: 18px;
  padding: 30px 40px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .form-pages.sign-up .signup-info {
    padding: 30px;
  }
}
@media (max-width: 575px) {
  .form-pages.sign-up .signup-info {
    padding: 20px;
  }
}
.form-pages.sign-up .signup-info p {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #433434;
  font-weight: 500;
}
@media (max-width: 767px) {
  .form-pages.sign-up .signup-info p {
    font-size: 15px;
    line-height: 25px;
  }
}

.service-item {
  display: flex;
  flex-direction: column;
}

.service-item > a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
}
@media screen and (max-width: 1199px) {
  .service-item > a {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .service-item > a {
    font-size: 18px;
  }
}/*# sourceMappingURL=app.css.map */