$gradient-color: radial-gradient(68.5% 121.76% at 51.91% -20.61%, #2789E4 0%, #217CD4 22.45%, #1059AA 66.24%, #013B85 100%);
$primary-color: #217CD4;
$secondary-color: #3D3A68;
$heading-color: #013B85;
$text-color: #433434;
$white-color: #fff;
$black-color: #000;
$primary-font: 'Urbanist-VariableFont_wght';
$secondary-font: 'GeneralSans-Variable';